<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CNNWB.Properties.Settings.NeuralNetworkConnectionString"
      connectionString="Data Source=WINDOWS7\SQLEXPRESS;Initial Catalog=NeuralNetwork;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>
